<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "testng-1.1.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.Flipkart"/>
      <class name="testNG.SnapDeal"/>
      <class name="testNG.SessionHandling"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
